* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial Narrow", sans-serif;
}

header {
  background: #2c3e50;
  color: #fff;
  height: 600px;

  .divTopBar {
    border-bottom: 1px solid #222f3d;
    .logo {
      font-family: "Arial", sans-serif;
      font-size: 30px;
      padding: 1% 0 0% 20%;
      margin-bottom: -20px;
    }
    .menu {
      position: relative;
      display: block;
      list-style-type: none;
      margin: -1% 50% 1% 68%;

      a {
        color: #7e95ae;
        text-decoration: none;
      }

      li {
        font-size: 15px;
        display: inline;
        padding: 5px;
      }
    }
  }
  .banner {
    align-items: center;
    text-align: center;
    h2 {
      font-size: 45px;
      font-family: "Franklin Gothic Medium", sans-serif;
    }
    p {
      font-size: 25px;
    }
    .img {
      position: absolute;
      display: block;
      transform: translate(45%, 10%);
    }
    a {
      position: absolute;
      display: block;
      transform: translate(75%, 19%);
    }
    a:hover {
      box-shadow: 2px 3px 7px #161f29;
    }
  }
}
